body{
    background-image: linear-gradient(
        rgb(235, 189, 227),
        rgb(63, 212, 75),
    rgb(156, 104, 204)
    );
}
.container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.box
{
    width: 200px;
    height: 200px;
    background-color: rgb(29, 29, 179);
}
/* .box1 
{
    transform: translatez(360deg);
    transition: 3s;
    border-radius: 40%;
} */
.box1:hover
{
     transition: 2s;
     border-radius: 50%;
     /* transform: translateX(360deg); */
    background-image: radial-gradient(
        rgb(0, 255, 13),
        rgb(0, 255, 64),
        rgb(51, 63, 177)
    );
}


.box2:hover
{
    transition: 5s;
    transform: rotateZ(360deg);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}
.box3:hover
{
    border-radius: 900px;
    transform: skewx(35deg);
    transition: 3s;
}
.box4:hover
{
    border-bottom-left-radius: 50%;
    border-top-right-radius: 40%;
}



.parent
{
    margin-top: 50px;
    /* padding: 20px; */
}
.child1:hover
{
    margin-top: 40px;
    transition: 2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.child2:hover
{
    margin-top: 40px;
    transition: 2s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: line-through;

}

.child
{
    transition: 2s;
    width: 200px;
    height: 200px;
    
}
.child:hover
{
    transition: 2s;
    width: 100vw;
}

/* phones */
@media (min-width:280px) and (max-width:600px)
{ .container{
    flex-direction: row;
    align-items: center;
}
   .box{
    margin-top: 10px;
   }
}
/* tab */

@media (min-width:600px) and (max-width:1000px)
{ .container{
    flex-direction: row;
    align-items: center;
}
   .box{
    margin-top: 10px;
   }
}

